<form method="POST" action="/produto/atualizar">
  <input type="hidden" name="id" value="{{id}}" />

  <label for="nome">Nome</label>
  <input type="text" class="form-control" name="nome" value="{{nome}}" autofocus required />

  <br />
  <div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="/produto" class="btn btn-danger">Cancelar</a>
  </div>
</form>
<hr />

<div class="container">
  <h5>Tipos cadastrados</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Imposto</th>
        <th>Vinculado</th>
      </tr>
    </thead>
    <tbody>
      {{linhasDeTipos}}
    </tbody>
  </table>
</div>
